$primary-color: #241525;
$link-color: yellow;

body {
    margin: 0;
    background-color: $primary-color;
}

header {
    background-color: $primary-color;
}

nav>ul {
    list-style: none;
}

nav>ul>li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.container {
    padding-top: 20px;
}

a {
    position: relative;
    color: $link-color;
    text-decoration: none;
}

a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transition: width 0.3s ease-out, left 0.3s ease-out;
    background: $link-color;
}

a:hover::after {
    width: 100%;
    left: 0;
}