<ul id="terminal-commands">
    <li>
        set
        <ul>
            <li>
                hp
                <p>
                <p>{{ trans(key="set_player_hp", lang=lang) }}</p>
                <p>{{ trans(key="examples", lang=lang) }}:</p>
                <ul>
                    <li><code>set hp 2</code></li>
                </ul>
                </p>
            </li>
            <li>armor condition, ac, armor cond</li>
            <li>current weapon condition, weapon condition, wc, weapon cond</li>
            <li>worldcol</li>
            <li>invincible, in</li>
            <li>time scale, ts</li>
            <li>souls</li>
            <li>dark souls, ds</li>
        </ul>
    </li>
    <li>
        spawn
        <ul>
            <li>weapon, weap</li>
            <li>item</li>
            <li>enemy</li>
        </ul>
    </li>
</ul>