<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <header>
    <img src="/wekufu_title.png" alt="Wekufu title" width="100%">
    <nav>
      <ul>
        <li><a href="{{ get_url(path='@/index.md') }}"><img src="/wekufu_logo.png" alt="Logo" width="56px"
              height="67px"></a></li>
        <li><a href="{{ get_url(path='@/games/_index.md') }}">Games</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </main>
  <footer>
    <p>This is the footer</p>
  </footer>
</body>

</html>