<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="/main.css">
  {% if page.extra.icon %}
  <link rel="icon" type="image/png" href="{{ page.extra.icon }}">
  {% else %}
  <link rel="icon" type="image/png" href="/wekufu_logo.png">
  {% endif %}
</head>

<body {% if page.extra.body_class %} class="{{ page.extra.body_class }}" {% endif %}>
  <header>
    <img
      src="{% if page.extra.header_image %}{{ page.extra.header_image }}{% else %}/erebus_title_screen.png{% endif %}"
      alt="Wekufu title" width="100%" height="300px">
    <div style="position: relative;">
      <img id="header-logo"
        src="{% if page.extra.header_title %}{{ page.extra.header_title }}{% else %}/web_header_logo.png{% endif %}"
        alt="Header image fade">
    </div>
    <div style="position: relative;">
      <img id="header-image-fade" src="/header_fade_down.png" alt="Header image fade">
    </div>
    <div id="lang-picker">
      {% if section %}
      {% for t in section.translations %}
      <a href="{{t.permalink|safe}}"><img src="/flags/{{ t.lang }}.png" alt="Language flag"></a>
      {% endfor %}
      {% else %}
      {% for t in page.translations %}
      <a href="{{t.permalink|safe}}"><img src="/flags/{{ t.lang }}.png" alt="Language flag"></a>
      {% endfor %}
      {% endif %}
    </div>
  </header>
  <nav id="top-bar">
    <ul>
      <li><a href="{{ get_url(path='@/index.md') }}"><img class="rotate-on-hover" src={% if page.extra.bar_icon %}{{
            page.extra.bar_icon }}{% else %}"/wekufu_logo.png"{% endif %} alt="Logo" width="40px" height="40px"></a>
      </li>
      <li><a href="{{ get_url(path='@/games/_index.md') }}">{{ trans(key="games", lang=lang) }}</a>
      </li>
      <li><a href="{{ get_url(path='@/about.md') }}">{{ trans(key="about_us", lang=lang) }}</a></li>
    </ul>
  </nav>
  <main>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </main>
  <footer>
    <p>Made with <a href="https://www.getzola.org/" target="_blank" rel="noopener noreferrer">Zola</a></p>
  </footer>

  <div id="image-viewer">
    <img alt="Expanded image">
  </div>

  <img id="back-to-top-button" src="/go_up_button.png" alt="Back to top button" width="60" height="60"
    onclick="scrollUp()">

  <script src="/code/image_viewer.js"></script>
  <script src="/code/header.js"></script>
  <script src="/code/back_to_top_button.js"></script>
</body>

</html>